
services:
  wordpress:
    build:
      context: ./docker_wordpress
      # dockerfile: Dockerfile
    image: custom-wordpress
    container_name: wp-jampack
    restart: always
    volumes:
      - ./public_html:/var/www/html
      - ./docker_wordpress/php-fpm.d/zz-docker.conf:/usr/local/etc/php-fpm.d/zz-docker.conf
    environment:
      WORDPRESS_DB_HOST: db:3306
      WORDPRESS_DB_NAME: wp_db
      WORDPRESS_DB_USER: wp_user
      WORDPRESS_DB_PASSWORD: wp_pass
    depends_on:
      - db

  apache:
    build:
      context: ./docker_apache
      # dockerfile: Dockerfile
    image: custom-apache
    container_name: wp-apache
    restart: always
    ports:
      - "8080:80"
    volumes:
      - ./public_html:/var/www/html
      - ./docker_apache/apache.conf:/usr/local/apache2/conf/httpd.conf
      - ./docker_apache/logs:/var/log/docker-logs/
    depends_on:
      - wordpress
  db:
    image: mariadb:10.5
    container_name: wp-db-jampack
    command: --sql-mode="NO_ENGINE_SUBSTITUTION"
    restart: always
    environment:
      MYSQL_DATABASE: wp_db
      MYSQL_USER: wp_user
      MYSQL_PASSWORD: wp_pass
      MYSQL_ROOT_PASSWORD: rootpass
    volumes:
      - db_data:/var/lib/mysql

  adminer:
    image: adminer
    restart: always
    ports:
      - 8081:8080

volumes:
  db_data:
