
services:
  wordpress:
    build:
      context: ./docker_wordpress
      # dockerfile: Dockerfile
    image: jampack-wordpress
    container_name: wp-jampack
    restart: always
    ports:
      - "8080:80"
    volumes:
      - ./public_html:/var/www/html
      - ./docker_wordpress/xdebug.ini:/usr/local/etc/php/conf.d/xdebug.ini
    environment:
      WORDPRESS_DB_HOST: db:3306
      WORDPRESS_DB_NAME: wp_db
      WORDPRESS_DB_USER: wp_user
      WORDPRESS_DB_PASSWORD: wp_pass
    depends_on:
      - db

  db:
    image: mariadb:10.5
    container_name: wp-db-jampack
    command: --sql-mode="NO_ENGINE_SUBSTITUTION"
    restart: always
    environment:
      MYSQL_DATABASE: wp_db
      MYSQL_USER: wp_user
      MYSQL_PASSWORD: wp_pass
      MYSQL_ROOT_PASSWORD: rootpass
    volumes:
      - db_data:/var/lib/mysql

  adminer:
    image: adminer
    container_name: wp-adminer
    restart: always
    ports:
      - 8081:8080

  # https://docker-mailserver.github.io/docker-mailserver/latest/config/

  # Create/Update email accounts using commands:
  # setup email add user@jampack-example.com newpassword
  # setup email update user@jampack-example.com newpassword
  # Or from outside the container using:
  # docker exec -it wp-mailserver setup email add user@jampack-example.com newpassword
  # docker exec -it wp-mailserver setup email update test@jampack-example.com newpassword

  # Configure DKIM using:
  # setup config dkim
  mailserver:
    image: mailserver/docker-mailserver:15.1.0
    container_name: wp-mailserver
    hostname: mail
    domainname: jampack-example.com
    ports:
      - "25:25"     # SMTP
      - "587:587"   # SMTP submission
      - "143:143"   # IMAP
      - "993:993"   # IMAPS
    # It could be useful to persist mail data and configuration (It could generates problems with permissions in windows)
    # volumes:
    #   - ./docker_mail/maildata:/var/mail
    #   - ./docker_mail/mailstate:/var/mail-state
    #   - ./docker_mail/mailconfig:/tmp/docker-mailserver/
    environment:
      - ENABLE_OPENDKIM=0
      - ENABLE_SPAMASSASSIN=1
      - ENABLE_CLAMAV=1
      - ENABLE_FAIL2BAN=1
    restart: always
    cap_add:
      - NET_ADMIN

  # https://www.rainloop.net/docs/configuration/
  # To configure rainloop, use admin panel found at : http://localhost:8082/?admin
  # Don't forget to add a new A/CNAME record in your DNS zone.
  # Default login is "admin", password is "12345".
  rainloop:
    image: hardware/rainloop:1.13.0
    container_name: wp-rainloop
    ports:
      - "8082:8888"
    volumes:
      - ./docker_mail/rainloop_data:/rainloop/data
    restart: always

# Persistent storage for database      
volumes:
  db_data:
